body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 3px;
    margin: 05px;
}

.header {
    min-width: 37.5rem;
    height: 4.375rem;
    background-color: #fff;
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #DDD;
}

.header .logo {
    justify-content: left;
    height: 3.4rem;
    width: 3.4rem;
}

.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.navigation {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: black;
    font-size: 1.2rem;
    list-style: none;
}

.navigation__item:hover {
    cursor: pointer;
    color: red;
}

.navigation__item--active {
    color: #4c5058;
    font-weight: 500;
}
h1 {
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.corona-img {
width: 100%;
height: 35rem;
}
/*.description {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

.content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: red;
}

h2 {
    font-size: 4rem;
    margin-left: 5rem;
    font-weight: 200;
    margin-top: 5rem ;
    align-self: center;
}
.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 2em;

}

p {
    font-size: 25px;
    
}
.types, .look {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: auto;
    margin-left: 5rem;
    margin-right: 5rem;
    font-size: 2rem;
    color:blue;

}
.types p {
    font-size: 25px;
    color: black;
}
.look p {
    font-size: 25px;
    color: black;
}


